body {
  background: #fff;
  margin: 0;
  padding: 0;
  }
  h1, h2, ul,li, p {
    margin: 0;
    list-style:none;
    padding: 0;
  }
  h1 {
    font-size: 1.1em;
    font-weight: 400;
  }
  a {
    color: #000; 
    text-decoration: none;
  }
  a:visited {
    color: #000; 
    text-decoration: none;
  }
.adminPanel {
  position: fixed;
  top: 40%;
  padding: 1rem;
  color: #444;
  font-size: .72rem;
}
.App {
    box-shadow: 0px 0px 80px 0px rgb(192 231 255), 4px 7px 150px 5px #e2f4ff;
    text-align: left;
    font-size: calc(10px + 1.6vmin);
    font-family: sans-serif;
    min-height: 100vh;
    min-width: 442px;
    display: flex;
    flex-direction: column;
    max-width: 82rem;
    margin: 0 auto;
    background: #ecf8ff;
    overflow: hidden;
    border: 2px solid #ffffff;
    border-top: 0;
    border-radius: 0.3rem;
    box-sizing: border-box;
}
.VerticalContainer {
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.VerticalContainer h1 {
  margin: 1rem auto;
  font-size: 1.8rem;
  font-weight: 500;
}
.CenterVertical {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}
.HeaderContainer {
  background: white;
  box-shadow: 0 10px 20px rgb(117 184 227), 0 6px 6px #75b8e3;
  padding: 12px 0;
  height: 2rem;    
  background: #f0f4ff;
  overflow: hidden;
  z-index: 5; 
}
.App-header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  height: 2rem;
  padding: 0 1rem;
 }
 .Progress {
  border-radius: 3px;
  width: 12rem;
  height: 1.25rem;
  background: rgb(203 238 255);
  box-shadow: inset 0px 0px 7px 2px rgb(176 224 255), inset 0px 1px 2px 1px #2a363e;
 }
 .Footer .Progress { 
  display: none;
 }
 .innerProgress {
  border-radius: 3px;
  cursor: default;
  user-select: none;
  height: 1.25rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
  overflow:visible;
  box-shadow: rgb(255 255 255) 0px 0px 7px 2px, rgb(133 210 255) 0px 0px 6px 0px;
  transition: 2.2s;
 }
 .Progress p {
  font-size: 0.71rem;
  margin: 0 auto;
  min-width: 90px;
 }
.Title {
  font: bold 1.42rem arial, sans-serif;
  background-color: #565656;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
 background-clip: text;
}  
.StartNav {
  display: flex;
  align-items: center;
}
.userInfo {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  height: 0;
  cursor: pointer;
}
.userInfo p {
  margin-right: 1rem;
  font-weight: 600;
}
.userInfo img {
  border-radius: 50%; 
  width: 2rem;
  margin: 0 0 0 .7rem;
}
.CreatorContainer {
  display: flex;
}
.CreatorForm {
  margin: 1rem;
  max-width: 18rem;
  box-shadow: 0px 3px 30px 5px rgb(172 222 253), 0 6px 6px #b2dffd;
  background: #f0f4ff;
  padding: 1rem;
  display: flex;
  align-items: center;
  height: 7.15rem;
  border: 1px solid white;
  border-radius: 3px;
}
.CreatorForm h4 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.CreatorForm label {
  font-size: 0.8rem;
}
.CreatorForm input[type=submit]{
  background: #caeaff;
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
}
.CreatorForm input[type=text]{
  border: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
  box-shadow: inset rgb(255 255 255) 1px -1px 7px 2px, rgb(133 210 255) 0px 0px 6px 0px;
}
.CreatorForm input[type=text]:focus {
  outline: none;
  box-shadow: inset rgb(255 255 255) 1px -1px 7px 2px, rgb(0, 155, 245) 0px 0px 6px 0px;
  transition: 0.5s;
}
.FaPlus {
  font-size: 2.5rem;
  color: rgb(168, 201, 231);
}
.VHFlex {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CreatorContent {
  display: flex;
}
.CreatorArea .Cards {
  margin-top: 1rem;
}
.AddCourse {
  cursor: pointer;
  background: #f8fcff;
  margin: 1rem;
  font-size: 1.2rem;
  width: 12rem;
  height: 8rem;
  border: 2px solid grey;
  border-style: dotted;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: .5rem;
}
.CourseCard {
  cursor: pointer;
  text-align: center;
  padding: .5rem;
  background: #f8fcff;
  margin: 1rem;
  font-size: 1.2rem;
  width: 12rem;
  height: 8rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 3px 3px 6px 0px rgb(0 0 0 / 14%);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.CreatorForm input {
  width: 100%;
  box-sizing: border-box;
  margin: .3rem 0;
  padding: .2rem;
}
.NakedButtonBlack {
  cursor: pointer;
  border: 0px;
  background: white;
  margin: 0 3px;
  font-weight: 600;
  font-size: .9rem;
}
.ButtonBlue {
  cursor: pointer;
  color: white;
  background: #0099f5;
  border: 0px;
  border-radius: 2px;
  padding: 6px 7px;
  font-weight: 600;
  font-size: .9rem;
  } 
  .ButtonGrey {
  cursor: pointer;
  color: white;
  background: #0099f5;
  border: 0px;
  border-radius: 2px;
  font-size: .9rem;
  font-weight: 400;
  padding: .3em .6em;
  } 
  .ButtonBlue:hover {
    color: white;
    background: #278bff;
  } 
  .ButtonYellow {
    color: #333333;
    background: #ffb400e8;
    cursor: pointer;
    border: 0px;
    border-radius: 2px;
    padding: 6px 7px;
    font-weight: 600;
    font-size: 0.66em;
    font-size: .9rem;
  }
  .ButtonYellow:hover {
    color: #414141;
    background: #ffb912e8;
  }
  .Arrow {
    padding: 0.3em 0.45em;
  }
  .Arrow:hover {
    padding: 0.3em 0.45em;
  }
  .Complete {
    font-size: .9rem;
    font-weight: 400;
    padding: .4em .6em;
  }
  .Complete:hover {
    font-weight: 400;
    padding: .4em .6em;
  }
.ContentContainer {
  margin: 0;
  margin-top: 1.3em;
  min-width: 79rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.CabinetContainer {
  margin: 2em auto 0;
}
.Cabinet {
  width: fit-content;
  margin: 0 auto;
  box-shadow: 0px 3px 50px 7px rgb(163 218 253), 0 6px 6px #9cd4f9;
  background: #fff;
  background: #f0f4ff;
  border-radius: 3px;
  padding: 5rem 5rem 5rem 5rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  z-index: 0;
}
.CabinetFlex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  flex-direction: column; 
}
.Cabinet h2 {
  font-size: 1.1rem;
  margin: 0rem 0;
  margin-bottom: -.2rem;
}
.Cabinet h1 {
  margin-bottom: 1.2rem;
}
.Cabinet span {
  color: #666;
  font-size: .8rem;
  margin: 0;
}
.Cabinet img {
  border-radius: 50%; 
  width: 96px;

}
.signOut {
  color: #0099f5;
  font-weight: 600; 
  font-size: 1.1rem;
  margin-top: 1.2rem;
 
}
.Cards {
  max-height:84vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 1rem;
  transition: 3s;
  margin: 0 1rem 0 0;
  overflow-y: auto;
}
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 3px rgb(191 219 234);
  border-radius: 3px;
  background-color: #fbfdff;
} 
::-webkit-scrollbar
{
	width: 9px;
	background-color: #f0f9ff;
}
::-webkit-scrollbar-thumb
{
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 3px rgb(199 226 245);
  background-color: #e1f2fd;
}
.Card {
  background: #f9fdff;
  border-radius: 3px;
  width: 14rem;
  padding: 0.2em 0.4em 0.3em 0.4em;
  margin-bottom: 1em;
  cursor: pointer;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 3px 3px 6px 0px rgb(0 0 0 / 14%);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.CardLessonLine {
  height: 1.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:0;
}
.CardTitleLine {
  height: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Card p {
  text-align: left;
}
.LessonNumber {
  padding: 0;
  margin: 4px 0;
  font-size: 0.73rem;
  font-weight: 600;
  margin-top: 4px;
}
.LessonTitle {
 font-family: 'Inter Tight', sans-serif;
 color: #003d61;
 font-size:0.92rem;
 max-width: 329px;
}
.LessonDuration {
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 600;
  color: #999;
  margin-top: .18rem;
}
.CompleteIcon {
  font-size: .8em;
}
.Card:hover {
  box-shadow: 0 9px 15px rgb(0 0 0 / 25%), 0 6px 6px rgb(0 0 0 / 22%);
}
.LessonContainer {
  padding: 1em;
}
.toggleSideBar {
  height: 0.5rem;
  width: 0.4rem;
  border: 0.15rem solid #eef9ff;
  border-left: 0.42rem solid #eef9ff;
  margin-top: -1.15rem;
  margin-bottom: 0.25rem;
  padding-right: 0.01rem;
  margin-left: auto;
  transition: .2s ease-in-out;
}
.toggleSideBar:hover {
  border: 0.15rem solid #4fbcff;
  border-left: 0.42rem solid #4ebbff;
  transition: .2s ease-in-out;
}
.LessonsPage {
  margin: 0 1rem 1rem 0;
  border: 3px solid #c4e2f7;
  border-top: 21px solid #c4e2f7;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  background: #f9fdff;
  border-radius: 3px;
  min-width: 360px;  
  flex: 1;
  height: fit-content;
}
.LessonsPage img {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
.LessonsPage h1 {
  margin: 1em 0;
  font-size: 0.9em;
}
.VideoContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.iWrapper {
  width: 100%;
  height: 100%;
}
.iWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.iWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.LessonNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.CheckIcon {
  color: #12b612;
  font-size: 0.9rem; 
}
.PlayIcon {
  font-size: 0.72rem;
  margin-top: 0.05rem;
  padding: 0.15rem 0 0 0;
}
.UserIcon {
  font-size: 0.6rem;
  margin-top: -0.1rem;
  padding: 0.2rem 0 0 0;
  color: #666;
}
.LockIcon {
  color: #999;
  font-size: .88rem
}
.LockBigIcon {
  color: #e1efff;;
  font-size: 5.88rem
}
.Lock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
}
.Lock h3 {
  margin-top: 1rem;
  padding: 0;
}
.Lock h3 {
  font-size: .85rem;
}
.CreatorArea {
  padding: 1rem;
}
.CreatorArea h1 {
  text-align: center;
  margin: 2rem;
}
.CompleteIcon {
  font-size: .8rem;
  margin-bottom: -0.07rem;
  margin-right: .27rem;
  border-right: 2px solid #95c6ff;
  padding-right: .47rem;
}
.CompleteIcon:hover {
  border-right: 2px solid #aed4ff;
}
.PrivacyPolicy {
  font-size: .8rem;
  padding: 2rem;
  max-height:82vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 1.2rem;
}
.PrivacyPolicy h1 {
  font-size: 2rem;
  margin: 1.5rem auto;
  text-align: center;
  font-weight: 600;
}
.PrivacyPolicy h2 {
  margin: 1rem 0 .5rem 0;
  font-weight: 600;
}
.Footer {
  margin-top: auto;
  box-shadow: 0px -5px 10px rgb(43 43 43 / 6%), 0px -3px 11px 0px rgb(0 0 0 / 10%);
  font-size: 0.5em;
  padding: 1em 1rem;
}
.Footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  z-index: 5; 
}
.LoginContainer {
  border-top: 12px solid black;
  width: 360px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: white;
  border-radius: 3px;
  box-shadow: 0 9px 15px rgb(0 0 0 / 25%), 0 6px 6px rgb(0 0 0 / 22%);
}
.LoginContainer h1 {
  text-align: center;
  margin: 1rem auto 1.44rem;
}
.LoginContainer input {
  width: 355px;
  margin: 0.5rem auto;
  padding: .5rem 0;
  text-align: center;
}
.LoginContainer button {
  margin: 0.5rem auto;
  width: 100%;
}
.CardInfo {
  display: flex;
}
#signInDiv2 {
  height: 32px; 
  display: block;
  margin: .8rem 0 .3rem 0;
}
@media only screen and (max-width: 1308px) {
  .Cards {
    width: 70%;
    padding: 0 1em;
    margin: 0 auto 1em;
    height: 10.4rem;
  }
  .toggleSideBar {
    display: none;
  }
  .Card {
  margin: 0.2rem auto 0.8rem auto;
  }
  .ContentContainer {
    width: 100%; 
    margin: 1em auto;
    min-width: 0;
  }
  .LessonsPage {
    margin: .8rem;
    flex: 1;
  }
  .LessonContainer {
    margin: 0 auto;
  }
  .Card {
    width: auto;
    max-width: 600px;
  }
  .App-header {
    padding: 0 0.7em;
    align-items: center;
 
    display: flex;
    flex-wrap: wrap;
     
  }
} 

@media only screen and (max-width: 637px) { 
  #signInDiv {
  margin-top: 1rem;
   }
   .HeaderContainer .Progress {
    display:none;
   }
   .Footer .Progress { 
    display: block;
    height:1.1rem;
    font-size: .69rem;
   }
   .Footer .ProgressInner { 
    display: block;
    height:1.1rem;
   }
   .LessonsPage {
    margin: 2rem 0;
    padding: 0;
 
   }
   .Cards { 
    margin-top: 1.5rem;
    margin-bottom: 0;
    height: 10.4rem;
   }
   .Card {
    margin: 0.2rem auto 0.8rem auto;
   }
  }
