body {
  background: #eaeaea;
  }
  h1, h2, ul,li, p {
    margin: 0;
    list-style:none;
    padding: 0;
  }
  h1 {
    font-size: 1.1em;
    font-weight: 400;
  }
  a {
    color: #000; 
    text-decoration: none;
  }
  a:visited {
    color: #000; 
    text-decoration: none;
  }
.App {
  text-align: left;
  font-size: calc(10px + 1.6vmin);
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.VerticalContainer {
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.VerticalContainer h1 {
  margin: 1rem auto;
  font-size: 1.8rem;
  font-weight: 500;
}
.CenterVertical {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}
.HeaderContainer {
  background: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);  padding: 12px 0;     
}
.App-header {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  align-items: center;
 }
 .Progress {
  border-radius: 3px;
  width: 200px;
  height: 1.6rem;
  background: rgb(228 228 228);
 }
 .innerProgress {
  border-radius: 3px;
  cursor: default;
  user-select: none;
  height: 1.6rem;
  background: #c7c7c7;
  display: flex;
  align-items: center;
  text-align: center;
  overflow:visible;
  transition: 2.2s;
 }
 .Progress p {
  font-size: 0.79rem;
  margin: 0 auto;
  min-width: 90px;
 }
.Title {
  font-weight: 600;
  color: #222;
}  
.NakedButtonBlack {
  cursor: pointer;
  border: 0px;
  background: white;
  margin: 0 3px;
  font-weight: 600;
  font-size: .9rem;
}
.ButtonBlue {
    cursor: pointer;
    color: white;
    background: #0076ff;
    border: 0px;
    border-radius: 2px;
    padding: 6px 7px;
    font-weight: 600;
    font-size: .9rem;
  } 
  .ButtonGrey {
    cursor: pointer;
    color: white;
    background: #e2e2e2;
    border: 0px;
    border-radius: 2px;
    font-size: .9rem;
    font-weight: 400;
    padding: .3em .6em;
  } 
  .ButtonBlue:hover {
    color: white;
    background: #278bff;
  } 
  .ButtonYellow {
    color: #333333;
    background: #ffb400e8;
    cursor: pointer;
    border: 0px;
    border-radius: 2px;
    padding: 6px 7px;
    font-weight: 600;
    font-size: 0.66em;
    font-size: .9rem;
  }
  .ButtonYellow:hover {
    color: #414141;
    background: #ffb912e8;
  }
  .Arrow {
    padding: 0.3em 0.45em;
  }
  .Arrow:hover {
    padding: 0.3em 0.45em;
  }
  .Complete {
    font-size: .9rem;
    font-weight: 400;
    padding: .4em .6em;
  }
  .Complete:hover {
    font-weight: 400;
    padding: .4em .6em;
  }
.ContentContainer {
  margin: 2em auto 0;
  min-width: 1100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Cards {
  height:80vh;
  padding-right: .7em;
  overflow-y: scroll;
  overflow-x: hidden;
}
.Cards::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	border-radius: 3px;
	background-color: #F5F5F5;
} 

.Cards::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
.Cards::-webkit-scrollbar-thumb
{
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
  background-color: #eaeaea;
}
.Card {
    background: white;
    border: 7px solid #e4e4e4;
    border-radius: 3px;
    width: 206px;
    padding: 0.2em 0.4em 0.3em 0.4em;
    margin-bottom: 1em;
    cursor: pointer;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.CardLine1 {
  display: flex;
  justify-content: space-between;
}
.Card p {
  text-align: left;
}
.CompleteIcon {
  font-size: .8em;
}
.Card:hover {
  box-shadow: 0 9px 15px rgb(0 0 0 / 25%), 0 6px 6px rgb(0 0 0 / 22%);
  border: 7px solid #dadada;
}
.LessonContainer {
  padding: 1em;
}
.LessonsPage {
  border-top: 12px solid #e2e2e2;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  background: #fff;
  border-radius: 3px;
  min-width: 360px;  max-width: 820px;
  width: 820px;
  margin-left: 2em;
  height: fit-content;
}
.LessonsPage h1 {
  margin: 1em 0;
  font-size: 0.9em;
}
.VideoContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.LessonNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.LessonNumber {
  padding: 0;
  margin: 4px 0;
  font-size: 0.63em;
  font-weight: 600;
  margin-top: 4px;
}
.LessonTitle {
 font-size:0.66em;
 margin: 0.3em 0;
}
.LessonDuration {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  font-weight: 600;
  color: #999;
}
.CheckIcon {
  color: #12b612;
  font-size: 0.9rem; 
}
.PlayIcon {
  font-size: 0.72rem;
  margin-top: 0.05rem;
  padding: 0.15rem 0 0 0;
}
.UserIcon {
  font-size: 0.6rem;
  margin-top: -0.1rem;
  padding: 0.2rem 0 0 0;
  color: #666;
}
.CompleteIcon {
  font-size: .8rem;
  margin-bottom: -0.07rem;
  margin-right: .27rem;
  border-right: 2px solid #95c6ff;
  padding-right: .47rem;
}
.CompleteIcon:hover {
  border-right: 2px solid #aed4ff;
}
.Footer {
  margin-top: auto;
  box-shadow: 0px -7px 15px rgb(0 0 0 / 6%), 0px -4px 4px rgb(0 0 0 / 10%);
  font-size: 0.5em;
  padding: 1em;
}
.Footer ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.LoginContainer {
  border-top: 12px solid black;
  width: 360px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: white;
  border-radius: 3px;
  box-shadow: 0 9px 15px rgb(0 0 0 / 25%), 0 6px 6px rgb(0 0 0 / 22%);
}
.LoginContainer h1 {
  text-align: center;
  margin: 1rem auto 1.44rem;
}
.LoginContainer input {
  width: 355px;
  margin: 0.5rem auto;
  padding: .5rem 0;
  text-align: center;
}
.LoginContainer button {
   margin: 0.5rem auto;
   width: 100%;
}
.CardInfo {
  display: flex;
}
@media only screen and (max-width: 1150px) {
  .Cards {
    width: 70%;
    padding: 0 1em;
    margin: 0 auto 1em;
    height: 485px;
  }
  .Card {
  margin: .8rem auto;
  }
  .ContentContainer {
    width: 100%; 
    margin: 1em auto;
    min-width: 0;
  }
  .LessonsPage {
    margin: 0 auto;
    width: 100%;
  }
  .LessonContainer {
    margin: 0 auto;
  }
  .Card {
    width: auto;
    max-width: 600px;
  }
  .App-header {
    padding: 0 0.7em;
    align-items: center;
  }
}